*{
	margin:0;
	padding: 0;
}
body{
	width: 100%;
	height: auto;
}
#top{
	width: 100%;
}
#menu-top h3:hover {
	color: orange;
}
#menu-top ul li a:hover {
	color: orange;
}
#w-top{
	width: 80%;
	margin: 0 auto;
}
#bot{
	background:#292929;
	min-height: 400px;
}
#w-bot{
	width: 80%;
	margin: 0 auto;
}
#w-bot i {
	padding-right: 10px;
	color: white;
	font-size: 20px;
}
#w-bot i:hover{
	color: orange;
}
#w-bot p{
	color: white;
}
#w-bot h4{
	color: white;
}
#footer{
	width: 100%;
}
#bot2{
	background: black;
	min-height:60;
}
#w-bot2 {
	width: 80%;
	margin: 0 auto;
	color: white;
}
#w-bot2 p{
	line-height: 60px;
}
#w-bot2 ul {
	margin: 0;
	padding: 0;
}
#w-bot2 ul li {
	list-style: none;
	float: left;
}
#w-bot2 ul li a{
	color: white;
	text-decoration: none;
	line-height: 60px;
	padding-right: 10px;
}
#w-bot2 ul li a:hover{
	color: orange;
}

/*---------------------------------*/

#providing{
	width: 100%;
}

#providing-w{
	width: 90%;
	margin: 0 auto;
}
#providing-w i {
	color: white;
	font-size: 60px;
	border:1px solid orange;
	padding: 15px;
	border-radius: 50%;
	background:orange;
}

#features{
	width: 100%;
}
#features-w{
	width: 80%;
	margin: 0 auto;
}
#features-w img{
	width: 100%;
}
#features-w i{
	font-size: 60px;
	padding-right: 10px;
	min-height: 200px;
}
.f-features{
	clear: left;
}
.features-i{
	float: left;
}

#ealisy{
	background: #fd502e;
	min-height: 350px;
}

#people{
	width: 100%;
	background: pink;
}

#people-w{
	width: 80%;
	margin: 0 auto;
}
#people-w a{
	text-decoration: none;
	color: black;
}
#people-w a img{
	border-radius:7px;
}

#people-w a:hover div{
	color:gray;
}
.sub-profile i{
	color: red;
	padding:5px;
	font-size: 20px;
}
.profile:hover img{
	opacity: 0.6;
	cursor: pointer;
}